<div class="store-container" fxFlex="100%" fxfLayout="column">
    <div fxLayout="row" fxLayout.xs="column" fxFill>
        <div class="left-side" fxFlex="40%" fxFlex.xs="20%">
            <div class="bg" fxFill fxLayoutAlign="center center">
                <img src="/assets/images/Pizza.png" />
            </div>
        </div>
        <div class="right-side" fxFlex="60%" fxFlex.xs="80%" fxLayout="column" fxFill>
            <div class="right-side-content">
                <nav>
                    <logout></logout>
                </nav>
                <div class="breadcrumbs">
                    <span class="breadcrumb-item current cursor-pointer" routerLink="/stores">Volver a Pizzerías</span>
                </div>
                <div class="store-info-container">
                    <div fxLayoutAlign="start center">
                        <img [src]="model.imageUri" />
                        <b [innerHTML]="model.name"></b>
                    </div>
                    <p [innerHTML]="model.description"></p>
                </div>
                <div class="products-container">
                    <div *ngFor="let product of model.products">
                        <b [innerHTML]="product.name"></b>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div fxFlexAlign="end">
                    <img src="/assets/images/Best Pizza.png">
                </div>
            </div>
        </div>
    </div>
</div>