<div [formGroup]="formStores" class="store-container" fxFlex="100%" fxfLayout="column">
  <div fxLayout="row" fxLayout.xs="column" fxFill>
    <div class="left-side" fxFlex="40%" fxFlex.xs="20%">
      <div class="bg" fxFill fxLayoutAlign="center center">
        <img src="/assets/images/Pizza.png" />
      </div>
    </div>
    <div class="right-side" fxFlex="60%" fxFlex.xs="80%" fxLayout="column" fxFill>
      <div class="right-side-content">
        <nav>
          <logout></logout>
        </nav>
        <div class="breadcrumbs">
          <span class="breadcrumb-item current">Pizzerías</span>
        </div>
        <div fxLayout="column">
          <div class="title">
            Tiendas
          </div>
          <div class="subtitle">
            Escoge tu pizzería favorita
          </div>
          <div class="search-container" fxLayoutAlign="start center">
            <input type="text" placeholder="Ingresa el nombre tu pizzería favorita" formControlName="filterValue" />
          </div>
          <div fxLayout="column" class="restaurants-container">
            <div fxFlex="100%" fxLayout="row wrap" fxLayoutGap="50px" fxLayoutAlign="space-evently center"
              fxLayoutAlign.xs="center center" fxLayoutGap.xs="0">
              <div *ngFor="let store of filteredData|async" class="restaurant-item"
                [routerLink]="['/stores', store.id]">
                <img [src]="store.imageUri" />
                <div class="name-container">
                  <b [innerHTML]="store.name"></b>
                </div>
                <div class="address-container" [innerHTML]="store.address">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div fxLayout.xs="row" fxLayoutAlign.xs="end center">
          <img src="/assets/images/Best Pizza.png">
        </div>
      </footer>
    </div>
  </div>
</div>
